body {
    background-image: url('assets/sky.jpeg');
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: 'Helvetica';
    padding-top: 20px;
}

h5 {
    font-family: 'Helvetica';
    margin: 0;
    font-weight: normal;
}

h5 :hover {
    text-decoration: underline;
}

p {
    font-family: 'Arial';
    padding-left: 20px;
}

p :hover{
    color: hotpink;
}

a {
    color: black;
}

.blurb {
    position: fixed;
    width: 60%;
    left: 0;
    height: 100%;
}

.projects {
    position: fixed;
    width: 40%;
    left: 60%;
    height: 100%;
}

.folder1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 25%;
    width: 20%;
}

.folder2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 50%;
    width: 20%;
}