body {
    background-image: url('assets/sky.jpeg');
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    font-family: 'Helvetica';
    padding-top: 30px;
}

p {
    font-family: 'Arial';
    padding-left: 20px;
}

p :hover{
    color: hotpink;
}

a {
    color: black;
}

.blurb {
    position: fixed;
    width: 60%;
    left: 0;
    height: 100%;
}

.projects {
    position: fixed;
    width: 40%;
    left: 60%;
    height: 100%;
}

.folder {
}